.myTable {
    color: #fff;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.myTable td, .myTable th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.myTable th {
    background-color: #3f3f3f;
}

.myTable tr:hover {
    background-color: #444;
}

.myTable td:first-child {
    text-align: center;
    padding: 0;
}

.myTable td:first-child .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}